@charset "UTF-8";
/* CSS Document */


body
{
	font-size: 20px;
	font-weight: normal;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #000000;
	text-align: left;
	margin: 5% 10% 5% 10%;
	min-width: 1000px;
	background-color: #000;
}

div
{
	padding: 1%;
	background-color: #FFF;
}

h1,h2,h3
{
	font-family: Georgia, Palatino, Times New Roman, serif;
	font-weight: bold;
	color: #000;
}

h1
{
	font-size: 1.8em;
	text-align: center;
	margin: 1em 1em .5em 1em;
	color: #FFF;
}

h2
{
	font-size: 1.8em;
	text-align: center;
	margin: .5em;	color: #000;
	text-decoration: underline;

}

ul
{
	list-style:square;
}

table
{
	font-size: 1em;		
	text-align: center;
}

caption
{
	font-size: 1.4em;
	font-weight: bold;
	color: #000;

}

th
{
	font-size: 1.1em;
	color: #04F;
	border: 2px solid #000;

}

td
{
	margin: 2%;
		border: 2px ridge #000;
	padding: 3px;
}
#main
{
	padding: 2em;
}
#navigation
{
	text-align: center;
	position: relative;
	top: 45px;
}
#icon
{
	position: relative;
	left: -15px;
	top: 10px;
}
hr
{
	height: 2px;
	width: 90%;
}
#audio
{
	position: relative;
	top: 10px;
}
#game
{
	width: 50%;
	height: 50%;
}